Grupo: Ivo, Rogério, Germano e Ismael
Dataset: https://www.kaggle.com/datasets/lorenzovzquez/data-jobs-salaries

In [ ]:
#Importando as bibliotecas necessárias para análise do Dataset
import numpy as np
import pandas as pd

from google.colab import drive

In [ ]:
# Realizando a leitura do arquivo Dataset a partir do link
salarios = pd.read_csv('https://ai-jobs.net/salaries/download/salaries.csv')

# Exibindo as 10 primeiras linhas do Dataset
salarios.head(100)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,ML Engineer,170000,AUD,114979,AU,100,AU,L
1,2023,SE,FT,Data Scientist,287500,USD,287500,US,0,US,M
2,2023,SE,FT,Data Scientist,168000,USD,168000,US,0,US,M
3,2023,SE,FT,Data Engineer,155000,USD,155000,US,0,US,M
4,2023,SE,FT,Data Engineer,140000,USD,140000,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
95,2023,SE,FT,Data Engineer,247300,USD,247300,US,0,US,M
96,2023,SE,FT,Data Engineer,139700,USD,139700,US,0,US,M
97,2023,EN,FT,Machine Learning Engineer,36000,USD,36000,UG,100,US,M
98,2023,MI,FT,Research Engineer,300000,USD,300000,US,0,US,M
99,2023,MI,FT,Research Engineer,100000,USD,100000,US,0,US,M

# **Probabilidade Simples**

Exibindo o nome das colunas do Dataset

In [ ]:
salarios.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [ ]:
# Calcular a média de funcionários no ano de 2023
total_func_geral_2023 = len(salarios[(salarios['work_year'] == 2023)])
avg_func_geral = total_func_geral_2023 / 12

# Calcular a média de funcionários Data Scientist no ano de 2023
total_func_datascientist_2023 = len(salarios[(salarios['work_year'] == 2023) & (salarios['job_title'] == 'Data Scientist')])
avg_func_datascientist = total_func_datascientist_2023 / 12

print(avg_func_geral)
print(avg_func_datascientist)

523.5
105.91666666666667

In [ ]:
# Transforme a coluna 'work_year' em formato de data
salarios['work_year'] = pd.to_datetime(salarios['work_year'], format='%Y')

# Filtre os dados para selecionar apenas o ano de 2023
salarios_2023 = salarios[salarios['work_year'].dt.year == 2023]

# Divida a soma anual do salário pelo número de meses
media_salarial_mensal_2023 = salarios_2023['salary'] / 12

# Exiba a média salarial mensal de 2023
print(media_salarial_mensal_2023)

0       14166.666667
1       23958.333333
2       14000.000000
3       12916.666667
4       11666.666667
            ...
6325    11208.333333
6326    10833.333333
6327     7500.000000
6328    13333.333333
6329    11250.000000
Name: salary, Length: 6282, dtype: float64

1° Análise: Qual é a probabilidade do funcionário ser um Data Scientist?

In [ ]:
resutado = avg_func_datascientist/avg_func_geral

print('A probabilidade de ser um Data Scientist em 2023 é: ' + str(round(resutado*100,2))+ '%')

A probabilidade de ser um Data Scientist em 2023 é: 20.04%

# **Probabilidade da União**

2° Análise: Qual a probabilidade de um Data Scientist em 2023 ser sênior ou trabalhar em uma grande empresa?

In [ ]:
qtd_func = round(len(salarios[((salarios['job_title']=='Data Scientist') & (salarios['work_year']==2023) & ((salarios['experience_level']=='SE') | (salarios['company_size']=='L')))])/12)

resultado = qtd_func/avg_func_datascientist

#print(qtd_func_datascientist)
#print(qtd_func)

print('A probabilidade de um Data Scientist em 2023 ser sênior ou trabalhar em uma empresa grande é: ' + str(round(resultado*100,2))+ '%')

A probabilidade de um Data Scientist em 2023 ser sênior ou trabalhar em uma empresa grande é: 83.5%

# **Probabilidade da Intersecção**

2° Análise: Qual é a probabilidade de um Data Scientist em 2023 ser sênior e trabalhar em uma grande empresa?

In [ ]:
qtd_func = round((len(salarios[((salarios['job_title']=='Data Scientist') & (salarios['work_year']==2023) & (salarios['experience_level']=='SE') & (salarios['company_size']=='L'))])/12))

resultado = qtd_func/avg_func_datascientist

print('A probabilidade de um Data Scientist em 2023 ser sênior e trabalhar em uma grande empresa é: ' + str(round(resultado*100,2))+ '%')

A probabilidade de um Data Scientist em 2023 ser sênior e trabalhar em uma grande empresa é: 0.97%

# **Probabilidade da Diferença**

3° Análise: Qual a probabilidade do Data Scientist em 2023 não ser sênior e não trabalhar em uma grande empresa?

In [ ]:
qtd_func = round(len(salarios[((salarios['job_title']=='Data Scientist') & (salarios['work_year']==2023) & ((salarios['experience_level']=='SE') | (salarios['company_size']=='L')))])/12)

resultado = (avg_func_datascientist - qtd_func)/avg_func_datascientist

print('A probabilidade de ser um Data Scientist em 2023 não ser sênior e não trabalhar em uma grande empresa é: ' + str(round(resultado*100,2))+ '%')

A probabilidade de ser um Data Scientist em 2023 não ser sênior e não trabalhar em uma grande empresa é: 16.5%

In [ ]:
#Extra

#qtd_func_datascientist = len(salarios[(salarios['job_title']=='Data Scientist')])
#media_salarial_ds = salarios[(salarios['job_title']=='Data Scientist')]['salary_in_usd'].mean()

#media_salarial_geral = salarios['salary_in_usd'].mean()

#qtd_acima_media = len(salarios[(salarios['job_title']=='Data Scientist') & (salarios['salary_in_usd'] >= media_salarial_geral)])
#resultado = qtd_acima_media/qtd_func_datascientist

#print(media_salarial_geral)
#print(qtd_func_datascientist)
#print(qtd_abaixo_media)
#print(media_salarial_ds)

#print('A probabilidade de ser um Data Scientist e possuir salário igual ou acima da média salarial geral nessa base de dados é: ' + str(round(resultado*100,2))+ '%')